<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styleIndex.css">
    <title>Contacto</title>
</head>
<body>
    <header>
        <div class="contenedorHeader">
            <div class="logo">
                <h1>Diseño<span>Multimedia</span></h1>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li ><a href="../index.html">INICIO</a></li>
                        <li><a href="./nosotros.html">NOSOTROS</a></li>
                        <li><a href="./servicios.html">SERVICIOS</a></li>
                        <li><a href="./contacto.html" class="menuSelect">CONTACTO</a></li>
                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="suscripcion2">
            <p>Subscríbete a nuestro boletín</p>
            <div class="menuSus">
            <input type="email" placeholder="Ingrese el Email...">
            <button>Subscribete</button>
            </div>
        </div>
    </section>

    <nav class="formulario">
        
        <section class="input">
            <h2 class="tituloC">Contacto</h2>  

            <div class="form">

                <label for="nombre">Nombre:</label>
                <input class="datos" type="text" name="nombre" placeholder="Ingresa tu nombre">

                <label for="email">Email:</label>
                <input class="datos" type="email" name="email" placeholder="Ingresa tu email">

                <label for="telefono">Teléfono:</label>
                <input class="datos" type="number" name="telefono" placeholder="Ingresa tu teléfono">

                <label for="celular">Celular:</label>
                <input class="datos" type="number" name="celular" placeholder="Ingresa tu celular">

                <label for="mensaje">Mensaje:</label>
                <input class="datosM" type="text" name="mensaje">

                <button type="submit">Enviar</button>
            
            </div>

        </section>

        <aside class="contac">
            <div class="recuadro3">
                <h2>Que hacemos</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque quo inventore debitis assumenda quia, eligendi exercitationem voluptas nesciunt, quidem minima voluptates explicabo nostrum! Voluptatum praesentium ad quae dicta perferendis et.</p>
            </div>

            <div>
                <img class="mapa" src="../assets/imagenes/mapaGoogle.png" alt="mapaGoogle">
            </div>
        </aside>
       
    </nav>

    <footer>
        <p>Graphel Desarrollo Web, Copyright &copy; 2024</p>
    </footer>
</body>
</html>