<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styleIndex.css">
    <title>Nosotros</title>
</head>
<body>
    <header>
        <div class="contenedorHeader">
            <div class="logo">
                <h1>Diseño<span>Multimedia</span></h1>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li ><a href="../index.html">INICIO</a></li>
                        <li><a href="./nosotros.html" class="menuSelect">NOSOTROS</a></li>
                        <li><a href="./servicios.html">SERVICIOS</a></li>
                        <li><a href="./contacto.html">CONTACTO</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="suscripcion2">
            <p>Subscríbete a nuestro boletín</p>
            <div class="menuSus">
                <input type="email" placeholder="Ingrese el Email...">
                <button>Subscribete</button>
            </div>
        </div>
    </section>

    <nav class="principal">
        <section>
            <div class="articulo2">
                <h2>Nosotros</h2>
                <p class="texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis quia cum enim aliquid illum distinctio voluptates voluptatibus dolorum, suscipit aliquam? Laudantium atque suscipit dolores aspernatur libero culpa sit neque hic? Quasi aperiam saepe veritatis. Dolore dicta harum doloribus dolorum consequuntur nisi excepturi officiis. Repudiandae temporibus autem eaque. Iste et quia exercitationem sint. Ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolorem facere beatae error nostrum ad debitis tenetur magnam, quos ipsa mollitia ipsum dolore omnis id obcaecati, voluptate aliquam quidem laboriosam. Culpa laborum fuga nemo, beatae ea vero obcaecati minus aliquid voluptas porro facilis eaque veritatis inventore consectetur voluptates quod commodi!</p>

                <p class="p2">
                    Tenetur adipisci voluptatem repellat temporibus alias modi et corporis enim eveniet aspernatur, consequatur deserunt at mollitia, hic officiis consequuntur expedita libero saepe! Ipsum dolor sit amet consectetur adipisicing elit. Amet modi aperiam eligendi voluptatibus illo voluptatum fugiat, ipsa, perferendis odio ex error deleniti voluptas id. Eaque placeat officiis neque possimus deserunt? Ipsum dolor sit amet consectetur adipisicing elit. Quis exercitationem minima placeat labore totam voluptas quae, dicta voluptatem, saepe, repellat iste veritatis eveniet asperiores sit possimus et rem. At, eos?
                </p>

                <img src="../assets/imagenes/891.jpg" alt="">
            </div>
        </section>

        <aside>
            <div class="recuadro">
                <h2>Que hacemos</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque quo inventore debitis assumenda quia, eligendi exercitationem voluptas nesciunt, quidem minima voluptates explicabo nostrum! Voluptatum praesentium ad quae dicta perferendis et.</p>
            </div>
        </aside>
    </nav>

    <footer>
        <p>Graphel Desarrollo Web, Copyright &copy; 2024</p>
    </footer>
</body>
</html>