<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styleIndex.css">
    <title>Servicios</title>
</head>
<body>
    <header>
        <div class="contenedorHeader">
            <div class="logo">
                <h1>Diseño<span>Multimedia</span></h1>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li ><a href="../index.html">INICIO</a></li>
                        <li><a href="./nosotros.html">NOSOTROS</a></li>
                        <li><a href="./servicios.html" class="menuSelect">SERVICIOS</a></li>
                        <li><a href="./contacto.html">CONTACTO</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="suscripcion2">
            <p>Subscríbete a nuestro boletín</p>
            <div class="menuSus">
                <input type="email" placeholder="Ingrese el Email...">
                <button>Subscribete</button>
            </div>
        </div>
    </section>

    <nav class="servicios">

        <section>
            <h2 class="tituloS">servicios</h2>  
            <div class="servicio">
                <h3>Diseño Web</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi aperiam saepe veritatis. Dolore dicta harum doloribus dolorum consequuntur nisi excepturi officiis. Repudiandae temporibus autem eaque.</p>
                
                <p>Precio: $300000 - $1000000</p>
            </div>

            <div class="servicio">
                <h3>Desarrollo Web</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam culpa accusantium odit suscipit. Obcaecati fugiat in soluta, corrupti laudantium a sit necessitatibus deleniti minima quidem mollitia.</p>
                
                <p>Precio: $1000000</p>
            </div>

            <div class="servicio">
                <h3>Hosting Web</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quaerat aut non quis, soluta eum. Dignissimos, voluptatum eaque.</p>
                
                <p>Precio: $300000</p>
            </div>

        </section>

        <aside>
            <div class="recuadro2">
                <h2>Que hacemos</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque quo inventore debitis assumenda quia, eligendi exercitationem voluptas nesciunt, quidem minima voluptates explicabo nostrum! Voluptatum praesentium ad quae dicta perferendis et.</p>
            </div>
        </aside>
    </nav>

    <footer>
        <p>Graphel Desarrollo Web, Copyright &copy; 2024</p>
    </footer>
</body>
</html>